# Existing entries
node_modules/
package-lock.json
.env
logs/*
!logs/.gitkeep

# Ignore uploaded files
uploads/*
uploads/.gitkeep
src/uploads/*
!src/uploads/.gitkeep
/src/tmp/*

dist/

saketham.sql
.DS_Store# Public folder should be committed
